@model Workshop.Models.ServiceTicket

@{
    ViewData["Title"] = "Create";
}

<h1>Service ticket</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechanicId" class="control-label"></label>
                <input asp-for="MechanicId" class="form-control" />
                <span asp-validation-for="MechanicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceStatusId" class="control-label"></label>
                <input asp-for="ServiceStatusId" class="form-control" />
                <span asp-validation-for="ServiceStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceTypeId" class="control-label"></label>
                <input asp-for="ServiceTypeId" class="form-control" />
                <span asp-validation-for="ServiceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTotal" class="control-label"></label>
                <input asp-for="PriceTotal" class="form-control" />
                <span asp-validation-for="PriceTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDescription" class="control-label"></label>
                <input asp-for="CaseDescription" class="form-control" />
                <span asp-validation-for="CaseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
