@model Workshop.Models.CalculatedRepairCost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CalculatedRepairCost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mechanicid" class="control-label"></label>
                <input asp-for="Mechanicid" class="form-control" />
                <span asp-validation-for="Mechanicid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarPartId" class="control-label"></label>
                <input asp-for="CarPartId" class="form-control" />
                <span asp-validation-for="CarPartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarPartQuantity" class="control-label"></label>
                <input asp-for="CarPartQuantity" class="form-control" />
                <span asp-validation-for="CarPartQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursDedicated" class="control-label"></label>
                <input asp-for="HoursDedicated" class="form-control" />
                <span asp-validation-for="HoursDedicated" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="PriceTotal" class="control-label"></label>
            <input asp-for="PriceTotal" class="form-control" />
            <span asp-validation-for="PriceTotal" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
