@model Workshop.Models.CarPart

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit car part</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="CarPartName" class="control-label"></label>
                <input asp-for="CarPartName" class="form-control" />
                <span asp-validation-for="CarPartName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityAvailable" class="control-label"></label>
                <input asp-for="QuantityAvailable" class="form-control" />
                <span asp-validation-for="QuantityAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatusId" class="control-label"></label>
                <input asp-for="OrderStatusId" class="form-control" />
                <span asp-validation-for="OrderStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
